<h1>Welcome to Coder Cafe</h1>

<table>
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>

    <% @data.each do |item| %>
        <tr>
            <td><%= item[:item] %></td>
            <td><%= item[:price] %></td>
        </tr>
    <% end %>

</table>