<nav>
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Tea", show_path(0) %></li>
        <li><%= link_to "Coffee", show_path(1) %></li>
        <li><%= link_to "Scones", show_path(2) %></li>
    </ul>
</nav>